
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

body {
  font-family: Lato, sans-serif;
  color: #747704
  font-weight: 300;
}

.top_margin {
    margin-top: 20px;
}

.name_format {
    font-weight: 100;
    font-size: 50px;
}

.my_line {
    border-bottom: 3px solid #BCBBBB;
    margin-top: 20px;
    margin-bottom: 20px;
}


.featured_format {
    color: #BCBBBB;
}

@media (max-width: 990px) {
.name_format {text-align: left;}
.name_format_sub {text-align: left;}
}